{% extends "layout.html" %}

{% block main %}
<h1>Hello {{name}} Here are your results!</h1>
<h2>You Got Dan Gries!</h2>
<p>
    Is there anything you can't do?
    You may not have a college degree in computer science, but you are still great at it.
    You have a well rounded background in computer science through CS50, but you have also branched out and applied compiuter science to your passions of art and music.
    Overall, you bring a great attitude to those around you.
    Keep eating potatoes!!
</p>
<img src="{{url_for('static', filename='images/gries.jpg')}}">

{% endblock %}