{% extends "layout.html" %}

{% block main %}
<div class="jumbotron">
    <h1 class="display-4">Welcome to LAINUP</h1>
    <p class="lead">AI-Backed lineup generation</p>
    <hr class="my-4">
    <p>LAINUP will generate the optimal lineup for a given set of 9 players. Coaches can choose to either used the stat-based 
        version, if they have appropriate records, or the ratings version. In which coaches rate their players from 0-99 in key categories.
        The algorithm behind the generation is adapted from the work of Mark D. Pankin's work, which can be found <a href="http://www.pankin.com/markov/" target="_blank">here</a>.
    </p>
    <p>You can view the code for the project on Github <a href="http://www.github.com/mcrmck/lainup" target="_blank">here</a>.</p>
  </div>

{% endblock %}