{% extends "layout.html" %}

{% block main %}
<h1>Welcome to LAINUP: AI Powered Insights for Youth Baseball Coaches</h1>
<form action="{{ url_for('index') }}" method="POST">
    <label for="p1Name">Player 1 Name: </label><input type="text" name="p1Name" id="p1Name">
    <br>
    <label for="p1PA">Player 1 Plate Appearances: </label><input type="text" name="p1PA" id="p1PA">
    <br>
    <label for="p1H">Player 1 Hits: </label><input type="text" name="p1H" id="p1H">
    <br>
    <label for="p1XBH">Player 1 Extra Base Hits: </label><input type="text" name="p1XBH" id="p1XBH">
    <br>
    <label for="p1W">Player 1 Walks: </label><input type="text" name="p1W" id="p1W">
    <br>
    <label for="p1SB">Player 1 Stolen Bases: </label><input type="text" name="p1SB" id="p1SB">
    <br>
    <label for="p1CS">Player 1 Caught Stealing: </label><input type="text" name="p1CS" id="p1CS">
    <br>

    <label for="p2Name">Player 2 Name: </label><input type="text" name="p2Name" id="p2Name">
    <br>
    <label for="p2PA">Player 2 Plate Appearances: </label><input type="text" name="p2PA" id="p2PA">
    <br>
    <label for="p2H">Player 2 Hits: </label><input type="text" name="p2H" id="p2H">
    <br>
    <label for="p2XBH">Player 2 Extra Base Hits: </label><input type="text" name="p2XBH" id="p2XBH">
    <br>
    <label for="p2W">Player 2 Walks: </label><input type="text" name="p2W" id="p2W">
    <br>
    <label for="p2SB">Player 2 Stolen Bases: </label><input type="text" name="p2SB" id="p2SB">
    <br>
    <label for="p2CS">Player 2 Caught Stealing: </label><input type="text" name="p2CS" id="p2CS">
    <br>

    <label for="p3Name">Player 3 Name: </label><input type="text" name="p3Name" id="p3Name">
    <br>
    <label for="p3PA">Player 3 Plate Appearances: </label><input type="text" name="p3PA" id="p3PA">
    <br>
    <label for="p3H">Player 3 Hits: </label><input type="text" name="p3H" id="p3H">
    <br>
    <label for="p3XBH">Player 3 Extra Base Hits: </label><input type="text" name="p3XBH" id="p3XBH">
    <br>
    <label for="p3W">Player 3 Walks: </label><input type="text" name="p3W" id="p3W">
    <br>
    <label for="p3SB">Player 3 Stolen Bases: </label><input type="text" name="p3SB" id="p3SB">
    <br>
    <label for="p3CS">Player 3 Caught Stealing: </label><input type="text" name="p3CS" id="p3CS">
    <br>

    <label for="p4Name">Player 4 Name: </label><input type="text" name="p4Name" id="p4Name">
    <br>
    <label for="p4PA">Player 4 Plate Appearances: </label><input type="text" name="p4PA" id="p4PA">
    <br>
    <label for="p4H">Player 4 Hits: </label><input type="text" name="p4H" id="p4H">
    <br>
    <label for="p4XBH">Player 4 Extra Base Hits: </label><input type="text" name="p4XBH" id="p4XBH">
    <br>
    <label for="p4W">Player 4 Walks: </label><input type="text" name="p4W" id="p4W">
    <br>
    <label for="p4SB">Player 4 Stolen Bases: </label><input type="text" name="p4SB" id="p4SB">
    <br>
    <label for="p4CS">Player 4 Caught Stealing: </label><input type="text" name="p4CS" id="p4CS">
    <br>

    <label for="p5Name">Player 5 Name: </label><input type="text" name="p5Name" id="p5Name">
    <br>
    <label for="p5PA">Player 5 Plate Appearances: </label><input type="text" name="p5PA" id="p5PA">
    <br>
    <label for="p5H">Player 5 Hits: </label><input type="text" name="p5H" id="p5H">
    <br>
    <label for="p5XBH">Player 5 Extra Base Hits: </label><input type="text" name="p5XBH" id="p5XBH">
    <br>
    <label for="p5W">Player 5 Walks: </label><input type="text" name="p5W" id="p5W">
    <br>
    <label for="p5SB">Player 5 Stolen Bases: </label><input type="text" name="p5SB" id="p5SB">
    <br>
    <label for="p5CS">Player 5 Caught Stealing: </label><input type="text" name="p5CS" id="p5CS">
    <br>

    <label for="p6Name">Player 6 Name: </label><input type="text" name="p6Name" id="p6Name">
    <br>
    <label for="p6PA">Player 6 Plate Appearances: </label><input type="text" name="p6PA" id="p6PA">
    <br>
    <label for="p6H">Player 6 Hits: </label><input type="text" name="p6H" id="p6H">
    <br>
    <label for="p6XBH">Player 6 Extra Base Hits: </label><input type="text" name="p6XBH" id="p6XBH">
    <br>
    <label for="p6W">Player 6 Walks: </label><input type="text" name="p6W" id="p6W">
    <br>
    <label for="p6SB">Player 6 Stolen Bases: </label><input type="text" name="p6SB" id="p6SB">
    <br>
    <label for="p6CS">Player 6 Caught Stealing: </label><input type="text" name="p6CS" id="p6CS">
    <br>

    <label for="p7Name">Player 7 Name: </label><input type="text" name="p7Name" id="p7Name">
    <br>
    <label for="p7PA">Player 7 Plate Appearances: </label><input type="text" name="p7PA" id="p7PA">
    <br>
    <label for="p7H">Player 7 Hits: </label><input type="text" name="p7H" id="p7H">
    <br>
    <label for="p7XBH">Player 7 Extra Base Hits: </label><input type="text" name="p7XBH" id="p7XBH">
    <br>
    <label for="p7W">Player 7 Walks: </label><input type="text" name="p7W" id="p7W">
    <br>
    <label for="p7SB">Player 7 Stolen Bases: </label><input type="text" name="p7SB" id="p7SB">
    <br>
    <label for="p7CS">Player 7 Caught Stealing: </label><input type="text" name="p7CS" id="p7CS">
    <br>

    <label for="p8Name">Player 8 Name: </label><input type="text" name="p8Name" id="p8Name">
    <br>
    <label for="p8PA">Player 8 Plate Appearances: </label><input type="text" name="p8PA" id="p8PA">
    <br>
    <label for="p8H">Player 8 Hits: </label><input type="text" name="p8H" id="p8H">
    <br>
    <label for="p8XBH">Player 8 Extra Base Hits: </label><input type="text" name="p8XBH" id="p8XBH">
    <br>
    <label for="p8W">Player 8 Walks: </label><input type="text" name="p8W" id="p8W">
    <br>
    <label for="p8SB">Player 8 Stolen Bases: </label><input type="text" name="p8SB" id="p8SB">
    <br>
    <label for="p8CS">Player 8 Caught Stealing: </label><input type="text" name="p8CS" id="p8CS">
    <br>

    <label for="p9Name">Player 9 Name: </label><input type="text" name="p9Name" id="p9Name">
    <br>
    <label for="p9PA">Player 9 Plate Appearances: </label><input type="text" name="p9PA" id="p9PA">
    <br>
    <label for="p9H">Player 9 Hits: </label><input type="text" name="p9H" id="p9H">
    <br>
    <label for="p9XBH">Player 9 Extra Base Hits: </label><input type="text" name="p9XBH" id="p9XBH">
    <br>
    <label for="p9W">Player 9 Walks: </label><input type="text" name="p9W" id="p9W">
    <br>
    <label for="p9SB">Player 9 Stolen Bases: </label><input type="text" name="p9SB" id="p9SB">
    <br>
    <label for="p9CS">Player 9 Caught Stealing: </label><input type="text" name="p9CS" id="p9CS">
    <br>

    <button type="submit">Submit!</button>
</form>
{% endblock %}