<!DOCTYPE html>

<html>

    <head>
        <title>LAINUP: AI Powered Insights for Youth Baseball Coaches</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
        <head><script data-name="BMC-Widget" src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js" data-id="mcrmck" data-description="Your LAINUP win you a game? Buy me a coffee!" data-message="Good luck this season!" data-color="#5F7FFF" data-position="" data-x_margin="18" data-y_margin="18"></script>
        </head>
    </head>
    <body>
       <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{{ url_for('index') }}">LAINUP</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('index') }}">About <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('stats') }}">Stat-Based</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="{{ url_for('ratings') }}">Rating-Based</a>
      </li>
    </ul>
  </div>
</nav>


        <div id="main">
            {% block main %}
            {% endblock %}
        </div>
    </body>
</html>